
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
}

.header h1 {
  font-size: 36px;
}

.navbar {
  background-color: #444;
  padding: 10px 0;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar ul li a:hover {
  background-color: #333;
  border-radius: 5px;
}

.sidebar {
  background-color: #f9faf9;
  padding: 20px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.sidebar h3 {
  color: #333;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.main-content {
  background-color: rgb(244, 247, 245);
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.main-content h2 {
  color: #750b0b;
  font-size: 24px;
  margin-bottom: 20px;
}


.odds-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.odd-item {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  display: inline;
  margin: 0 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.odd-item {
  cursor: pointer; 
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.odd-item:hover {
  background-color: #b69595; 
  transform: scale(1.01); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

